body {
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background: #1c1c1c;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #121212;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 2.5em;
    background: url('./assets/image\ 36.png'), gray 0px -158.291px / 100% 423.007%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search-title {
    color: #FFF;
    font-size: 2.68rem;
    font-weight: 700;
}

.controls {
    display: flex;
    justify-content: center;
}

#search-field {
    padding: 1em 5em 1em 1em;
    border-radius: 6px 0px 0px 6px;
    color: #a5a5a5;
    background-color: #2E2E2F;
    border: none;
    margin-right: 0;
    background-image: url('./assets/Search.png');
    background-repeat: no-repeat;
    background-position: left 7% bottom 45%;
}

::placeholder {
    text-align: center;
}

#search-btn {
    margin-left: 0;
    border: none;
    padding: 1em;
    border-radius: 0px 6px 6px 0px;
    background: #4B4B4B;
    color: #FFF;
}

a {
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
}

#search-list {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

#search-list > p {
    color: #2E2E2F;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-left: 5em;
}

svg {
    margin-left: 6em;
}

.movie-container,
.info1, .info2 {
    display: flex;
}

.movie-container {
    border-bottom: 1px solid lightgray;
}

.poster {
    border-radius: 2px;
    height: 120px;
    width: calc(120px * 5 / 7);
    justify-self: flex-start;
}

.info1, .info2 {

}

.info1 {
    justify-content: flex-start;
    gap: 1em;
}

.info2 {
    justify-content: space-between;
}

.movie-title,
.rating, .run-time,
.genre {
    display: inline;
    color: #FFF;
}

.movie-title {
    font-size: 1.125em;
}

.plot {
    color: #a5a5a5;
}

button {
    cursor: pointer;
}

.unsuccessful {
    text-align: center;
}

.disabled {
    cursor: not-allowed;
}